
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Bienvenido</h2>
<p class="text-center">Espero que le guste mi aplicacion</p>
<img src="~/Imagenes/recurso.jpg"/>

